
.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.justify-space-between {
    justify-content: space-between;
    align-items: center;
}