.login-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.auth-logo{
    max-height: 10rem;
    padding-top: 2rem;
}

.login-form{
    border-radius: var(--border-radius);
    align-self: center; 
    padding: 20px;
    box-shadow: var(--shadow-bottom), var(--shadow-top);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-link {
    text-transform:uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.login-link:hover {
    text-decoration: underline;
}