.room-edit {
    display: flex;
    flex-grow: 1;
    border-radius: var(--border-radius);
    gap: 10px;
}
.room-edit-container {
    flex-wrap: wrap;
    gap: 10px;
}

.room-edit>div {
    padding: 10px;
    flex-basis: 100px;
    border-radius: var(--border-radius);
    gap: 10px;
}
.surface {
    background-color: var(--surface);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    padding: 20px;
}

.taskbar {
    align-items: center;
    gap: 10px;
}

.assets-container {
    flex-grow: 1;
    gap: 10px;
}

.assets {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.assets>.asset-selector {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.assets>.asset-selector>div:first-child {
    flex-grow: 1;
}
.asset-selector>div {
    flex-grow: 0;
}
.metadata>div {
    gap: 5px;
}
.custom-inputs {
    vertical-align: middle;
}
.custom-inputs > div{
    flex-grow: 1;
    height: 40px;
}
td > input {
    width: 100%;
}