.room-edit {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

.room-edit>div {
    flex-grow: 1;
    padding: 10px;
    flex-basis: 100px;
    border-radius: var(--border-radius);
}

.taskbar {
    align-items: center;
    gap: 10px;
}

.assets-container {
}

.assets {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.assets>.asset-selector {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.assets>.asset-selector>div:first-child {
    flex-grow: 1;
}
.asset-selector>div {
    flex-grow: 0;
}
.metadata>div {
    gap: 5px;
}
.custom-inputs {
    vertical-align: middle;
}
.custom-inputs > div{
    flex-grow: 1;
    height: 40px;
}