.table-container {
    padding: 16px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* Adds 5px spacing between rows */
    white-space: nowrap;
}

.custom-table thead {
    font-size: 1.25rem;
}

.custom-table thead tr th {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.custom-table tr:first {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    box-shadow: var(--shadow-bottom), var(--shadow-top);

}

.custom-table tr {
    box-shadow: var(--shadow-small);

}

.custom-table th,
.custom-table td {
    padding: 8px;
    text-align: left;
    min-width: min-content;

    background-color: var(--surface);
    /* Ensures rows have a single background color */
}

.custom-table tbody tr td:first-child div {
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: -20px;
    text-align: center;
}

.custom-table tbody tr .free {
    color: green;
}

.custom-table tbody tr .booked {
    color: red;
}

.custom-table th {
    border-bottom: 3px solid var(--divider);
}

.custom-table .grow {
    width: 100%;
}